# .NET
backend/**/bin/
backend/**/obj/
backend/**/*.user
backend/**/*.env
backend/**/appsettings.Development.json

# Node / Angular
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.angular/

# Playwright
e2e-tests/node_modules/
e2e-tests/playwright-report/
e2e-tests/test-results/
e2e-tests/.auth/
e2e-tests/.env

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/